[Unit]
Description=Talicska Robot — jetson_clocks (Power Mode manuálisan beállítva)
After=multi-user.target
Before=talicska-robot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/jetson_clocks
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target
