[Unit]
Description=Talicska Robot — Power Mode (MaxN + jetson_clocks)
After=multi-user.target
Before=talicska-robot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nvpmodel -m 0
ExecStart=/usr/bin/jetson_clocks
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target
