[Unit]
Description=Talicska Robot — tmux session
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/eduard/talicska-robot-ws/src/robot/talicska-robot/scripts/tmux_session.sh
ExecStop=/usr/bin/tmux kill-session -t talicska

[Install]
WantedBy=default.target
